.taskTable {
  display: flex;
  flex-direction: column;

  border-radius: 30px;
  background-color: #1b222b;
  min-height: 95%;
  padding: 0px 35px;
}
.task {
  font-size: 26px;
  display: flex;
}
.task div {
  display: flex;
  align-items: center;
  /* padding: 10px 20px; */
}

button {
  height: 92px;
}

.task {
  font-size: 20px;
  display: grid;
  grid-template-columns: 0.5fr 5fr repeat(2, 3fr) 1fr;
  grid-template-rows: 79px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  border-bottom: 1px solid #3c536f;
}

.tableHeader {
  font-size: 18px;

  display: grid;
  grid-template-columns: 0.5fr 5fr repeat(2, 3fr) 1fr;
  grid-template-rows: 36px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  padding: 0px 35px;
}

.tableHeader div {
  color: rgba(255, 255, 255, 0.653);
  display: flex;
  /* align-items: center; */
}

.task div:nth-child(1) {
  cursor: pointer;
  padding-left: 15px;
  /* background-color: rgb(19, 66, 66); */
}

.task div:last-child {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  cursor: pointer;
}

.task:last-child div {
  /* background-color: black; */
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
}
.task canvas {
  display: none;
}
