.container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 16px 1fr 16px 1fr 0.5fr 6fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;

  padding: 50px;

  width: 100%;
  height: 100%;
}

.div1,
.div2,
.div5 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.653);
}

/* Tytuł */
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

/* Opis */
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

/* Treść tytułu */
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}

/* Treść opisu */
.div4 {
  grid-area: 2 / 2 / 5 / 3;
}
.div5 {
  grid-area: 3 / 1 / 4 / 2;
}
.div6 {
  grid-area: 4 / 1 / 5 / 2;
}
.div7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 5 / 1 / 6 / 3;
}
.div7 hr {
  border-bottom: 1px solid #3c536f;
}
.div8 {
  grid-area: 6 / 1 / 7 / 3;
}

input {
  font-family: "Roboto Slab";
  font-size: 24px;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-dark);
  outline: unset;
  border: unset;
  border-radius: 30px;
  padding-left: 20px;
}
button {
  font-family: "Roboto Slab";
  font-size: 24px;
  width: 25%;
  height: 25%;
  background-color: var(--background-color-dark);
  outline: unset;
  border: unset;
  border-radius: 30px;
}
.input {
  display: flex;
  align-items: center;
  font-size: 24px;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-dark);
  outline: unset;
  border: unset;
  border-radius: 30px;
  padding-left: 20px;
}
