.logo {
  font-size: 8rem;
  margin: 2rem;
  opacity: 0;
  animation: fly-in 1s 0.3s, opacity-in 1s 0.3s forwards;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 3rem;
  padding: 2rem;
  width: 20rem;
  border-radius: 1rem;

  box-shadow: 1px 15px 30px 8px #8585a01a;
  cursor: pointer;
  transition: 0.3s transform, 0.3s color, 0.3s box-shadow;
}
span {
  color: var(--accent-color);
}
.btn:hover {
  transform: translateY(-5px);
  box-shadow: 1px 20px 35px 8px #8585a012;
  color: var(--accent-color);
}

.btn1 {
  opacity: 0;
  animation: fly-in 1s 0.2s, opacity-in 1s 0.2s forwards;
}
.btn2 {
  opacity: 0;
  animation: fly-in 1s 0.1s, opacity-in 1s 0.1s forwards;
}

@keyframes findit {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fly-in {
  0% {
    transform: translateY(-50px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes opacity-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fly-out {
  0% {
    transform: translateY(0px);
    opacity: 100%;
  }
  100% {
    transform: translateY(100px);
    opacity: 0%;
  }
}
@keyframes fly-out-hover {
  0% {
    transform: translateY(-5px);
    opacity: 100%;
  }
  100% {
    transform: translateY(100px);
    opacity: 0%;
  }
}

a {
  text-decoration: unset;
  color: unset;
}

.logoOut {
  opacity: 100%;
  animation: fly-out 1s ease-in 0.2s forwards;
}
.btnOut1 {
  opacity: 100%;
  animation: fly-out 1s ease-in 0.1s forwards;
}
.btnOut1:hover {
  opacity: 100%;
  animation: fly-out-hover 1s ease-in 0.1s forwards;
}
.btnOut2 {
  opacity: 100%;
  animation: fly-out 1s ease-in 0s forwards;
}
.btnOut2:hover {
  opacity: 100%;
  animation: fly-out-hover 1s ease-in 0.1s forwards;
}
