.loginBox {
  position: relative;
}
.loginBox .text {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
  color: #515151;
  font-size: 4rem;
}
.loginBox .userBox {
  display: flex;
  align-items: center;
  position: relative;
}
.loginBox .userBox input {
  width: 25rem;
  margin: 3rem 0rem;
  padding: 0rem 0.5rem;
  padding-bottom: 5px;

  border: 0px;
  border-bottom: 3px solid #515151;
  box-shadow: 1px 2rem 30px 8px rgba(133, 133, 160, 0.05);
  outline: none;
  border-radius: 1rem 1rem 0rem 0rem;

  color: #515151;
  font-size: 2rem;
}
.loginBox .userBox label {
  position: absolute;
  top: 0;
  left: 0;

  margin: 3rem 0.5rem;

  font-size: 2rem;
  color: #51515178;
  pointer-events: none;
  transition: 0.3s transform, 0.3s color, 0.3s box-shadow, 0.3s top, 0.3s bottom,
    0.3s margin, 0.3s padding, 0.3s font-size;
}
.loginBox .userBox input:focus ~ label,
.loginBox .userBox input:valid ~ label {
  margin: 3rem 0rem;
  top: -2rem;
  left: 0;
  color: #515151;
  font-size: 1rem;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 3rem;
  margin-top: 6rem;
  margin-bottom: -5rem;

  padding: 1rem;
  width: 19rem;
  border: 3px solid #515151d7;
  border-radius: 1rem;

  color: #515151d7;
  font-size: 1.5rem;

  box-shadow: 1px 30px 30px 8px rgba(133, 133, 160, 0.08);
  cursor: pointer;
  transition: 0.3s transform, 0.3s color, 0.3s box-shadow;
}
.loginBox .userBox input:focus ~ label,
.loginBox .userBox input:focus {
  color: #278f33;
}

.loginBox .userBox input:focus {
  border-bottom: 3px solid #278f33;
}
